/* container */
.header-container {
  height: 130px;
  width: 1500px;
  background-color: rgb(56, 56, 55);
}

/* pokemon logo */
.header-image-container img {
  width: 100px;
  height: 50px;
  margin: .8rem;
}
