.pagination{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* list item */
.active,
.page-item {
    list-style-type: none;
    border: 1px solid black;
    width: 25px;
    text-align: center;
    margin: .5em .8em;
    background-color: rgb(254, 254, 254);
    cursor: pointer;
    border-radius: 5px;
}
.page-item:hover {
    border: 1.5px solid black;
}

/* a tag */
.page-link{
    color:rgb(245, 245, 249);
    text-decoration: none;
    list-style-type: none;
    text-decoration: none;
    font-size: 1.3rem;
    color:#00060b;
    font-family:'Times New Roman', Times, serif;
}

/* user on current page number */
.active{
    background-color: #3d7dca; 

}






