/* main wrapper */
.pokemon {
  width: 280px;
  height: 340px;
  margin: 1rem;
  border-radius: 5px;
  box-shadow: 1px 1px 5px black;
  background-color: #fff;
}

/* name */
.pokemon-name {
  background-color: #ffcb05;
  border-radius: 5px;
  margin-top: 2rem;
  padding: 10px;
  text-align: center;
  color: #509edd;
  font-weight: 700;
  letter-spacing: 1px;
  font-size: 20px;
}

/* Types */
.pokemon-type{
display: flex;
justify-content: flex-start;
}

.pokemon-type span{
 font-size: 10px;
  }

/* details max hp and crit */
.pokemon-strength-details {
  display: flex;
  justify-content: space-around;
  margin: 1rem;
}
.pokemon-strength-details span {
  font-weight: bold;
  font-size: 14px;
  color: #fff;
}

/* Image */
.pokemon-image-container {
  text-align: center;
}
.pokemon-image-container img {
  width: 100px;
  height: 100px;
}

/* Attacks */
.attack-title {
  color: #fff;
  font-weight: 500;
  letter-spacing: 1px;
  text-align: center;
  margin: 0.8rem;
}

.pokemon-attacks-container {
  display: flex;
  justify-content: space-around;
  padding-bottom: 1rem;

  height: 50px;
  align-items: flex-end;
}

.pokemon-attacks {
  background-color: rgb(231, 174, 18);
  border-radius: 10px;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.pokemon-attacks > span {
  color: #3d7dca;
  padding: 0;
  font-weight: bold;
  font-style: italic;
  font-size: 12px;
}
